i.fa-times:hover {
    cursor: pointer;
}
i.fa-times {
    color: #ff4d44;
}
h3.black{
    display: block;
    color: black !important;
    background-color: red;
}
* {
    background-color: pink !important;
}